.code_box{
  background-color: lightgray;
  border: 3px solid gray;
  border-radius: 5px;
  white-space: pre-line;
  width: 600px; //sets the contents size
  height: 120px;
  margin: 10;
  padding: 10px;
  font-family: monospace;

}
